<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeMovieSwift3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C8A2D6D1DE443360056554E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8A2D811DE443360056554E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8A2D8C1DE443360056554E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
